@{
    ViewBag.Title = "MasterCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-header">
    <h2>CRUD Master Car</h2>
    <h4>Back End : REST API + .Net Framework + Ninject(Dependency Injection) + SQL Server + Dapper(ORM)</h4>
</div>

<div class="row clearfix divAdd">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2><b>[CREATE]</b></h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action 1</a></li>
                            <li><a href="javascript:void(0);">Action 2 Kalo ada</a></li>
                            <li><a href="javascript:void(0);">Action 3 ya kalo ada juga, jangan dipaksain kalo nggak ada</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <form id="formAnjay" method="POST">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="minmaxlength" maxlength="10" minlength="3" id="txtNama" required>
                            <label class="form-label">Name</label>
                        </div>
                        <div class="help-info">Min. 3, Max. 10 characters</div>
                    </div>
                    <div class="form-group">
                        <div class="form-line" id="bs_datepicker_container">
                            <input type="text" class="form-control" placeholder="Please choose a date..." id="txtDate" name="date" required>
                        </div>
                        <div class="help-info">Format : YYYY-MM-DD</div>
                    </div>
                    <button class="btn btn-primary waves-effect" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix divAdd">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2><b>[CREATE]</b> <u><b>[BULK]</b></u></h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action 1</a></li>
                            <li><a href="javascript:void(0);">Action 2 Kalo ada</a></li>
                            <li><a href="javascript:void(0);">Action 3 ya kalo ada juga, jangan dipaksain kalo nggak ada</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <form id="formAnjayBulk" method="POST">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="minmaxlength" maxlength="10" minlength="3" id="txtNamaBulk" required>
                            <label class="form-label">Name</label>
                        </div>
                        <div class="help-info">Min. 3, Max. 10 characters</div>
                    </div>
                    <div class="form-group">
                        <div class="form-line" id="bs_datepicker_container">
                            <input type="text" class="form-control" placeholder="Please choose a date..." id="txtDateBulk" name="date" required>
                        </div>
                        <div class="help-info">Format : YYYY-MM-DD</div>
                    </div>
                    <div>
                        <button class="btn btn-primary waves-effect" type="submit">Add to Datatable</button>
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="tblMstCarBulk">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Created Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </form>
                <br />
                <div>
                    <button class="btn btn-primary waves-effect" type="button" id="btnSaveBulk">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix divRead">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <b>[READ]</b> and <b>[DELETE]</b>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="tblMstCar">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>IsActive</th>
                                <th>CreatedDate</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix divUpdate">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2><b>[UPDATE]</b></h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action 1</a></li>
                            <li><a href="javascript:void(0);">Action 2 Kalo ada</a></li>
                            <li><a href="javascript:void(0);">Action 3 ya kalo ada juga, jangan dipaksain kalo nggak ada</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <form id="formUpdate">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="minmaxlength" id="txtEditAutoID" required readonly />
                        </div>
                        <div class="help-info">Readonly</div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="txtEditNama" type="text" class="form-control" name="minmaxlength" maxlength="10" minlength="3" required />
                        </div>
                        <div class="help-info">Nama Min. 3, Max. 10 characters</div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line" id="bs_datepicker_container">
                            <input type="text" class="form-control" name="date" id="txtEditDate" required />
                        </div>
                        <div class="help-info">Format : YYYY-MM-DD</div>
                    </div>
                    <button class="btn btn-primary waves-effect" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix divUpload">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Upload File
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div id="frmFileUpload" class="dropzone">
                    <div class="dz-default dz-message">
                        <div class="drag-icon-cph">
                            <i class="material-icons">touch_app</i>
                        </div>
                        <h3>Drop files here or click to upload.</h3>
                    </div>
                </div>
                <br />
                <button class="btn btn-primary waves-effect" type="button" id="btnDownloadFile">Download File</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.RenderFormat(Helper.GetDefaultJsStringFormat(), "~/Scripts/Home/mastercar.js")
}